In [1]:
import os
import gzip
import numpy as np
import pandas as pd
import transportation_tutorials as tt

In [2]:
districts = pd.read_csv(tt.data('FL-COUNTY-BY-DISTRICT'))
districts

          County  District
0      Charlotte         1
1        Collier         1
2         DeSoto         1
3         Glades         1
4         Hardee         1
..           ...       ...
62        Citrus         7
63      Hernando         7
64  Hillsborough         7
65         Pasco         7
66      Pinellas         7

[67 rows x 2 columns]

In [3]:
bridges = pd.read_csv(tt.data('FL-BRIDGES'))

# Recall the necessary cleaning for the bridges data file
bridges = bridges.replace('-', 0)
bridges[['Poor #', 'SD #']] = bridges[['Poor #', 'SD #']].astype(int)
bridges.fillna(0, inplace=True)
bridges

,County,Total #,Good #,Fair #,Poor #,SD #,Total Area,Good Area,Fair Area,Poor Area,SD Area
0,ALACHUA (001),111,64,47,0,0,64767,55794,8973,0.0,0.0
1,BAKER (003),89,30,52,7,8,32162,19369,12282,510.0,623.0
2,BAY (005),122,49,63,10,11,210039,98834,109628,1577.0,10120.0
3,BRADFORD (007),62,23,37,2,2,9330,5492,3217,620.0,620.0
4,BREVARD (009),241,160,81,0,0,364138,204179,159959,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
63,VOLUSIA (127),227,144,76,7,7,326665,164435,147618,14612.0,14612.0
64,WAKULLA (129),50,21,23,6,6,17783,10011,7649,123.0,123.0
65,WALTON (131),219,125,86,8,9,104108,69478,34056,575.0,627.0
66,WASHINGTON (133),96,57,34,5,6,72116,46988,23224,1904.0,3220.0
67,TOTALS,12313,8534,3545,233,256,16759416,11232342,5149876,376033.0,402201.0

In [4]:
districts['County']=districts['County'].str.lower()
bridges.iloc[:-1,0]=bridges.iloc[:-1,0].str[:-6]
bridges['County']=bridges['County'].str.lower()
# bridges.sort_values('County').to_csv('b.csv')
# districts.sort_values('County').to_csv('d.csv')

In [5]:
bridges_new=pd.merge(districts,bridges,left_on='County',right_on='County')
bridges_new.head()

,County,District,Total #,Good #,Fair #,Poor #,SD #,Total Area,Good Area,Fair Area,Poor Area,SD Area
0,charlotte,1,207,172,35,0,1,250385,229102,21284,0.0,1511.0
1,collier,1,356,281,73,2,2,190375,158006,32207,162.0,162.0
2,glades,1,59,43,16,0,0,42294,35081,7213,0.0,0.0
3,hardee,1,91,64,26,1,1,26997,20293,6548,155.0,155.0
4,hendry,1,81,63,18,0,0,18807,14827,3980,0.0,0.0

In [6]:
# Q1.Within each FDOT District, what is the fraction of structurally deficient bridge deck area in each County?
bridges_new['SD_fraction']=bridges_new.groupby('District')['SD Area'].transform(lambda x: x/x.sum())
bridges_new.head()

,County,District,Total #,Good #,Fair #,Poor #,SD #,Total Area,Good Area,Fair Area,Poor Area,SD Area,SD_fraction
0,charlotte,1,207,172,35,0,1,250385,229102,21284,0.0,1511.0,0.105179
1,collier,1,356,281,73,2,2,190375,158006,32207,162.0,162.0,0.011277
2,glades,1,59,43,16,0,0,42294,35081,7213,0.0,0.0,0.000000
3,hardee,1,91,64,26,1,1,26997,20293,6548,155.0,155.0,0.010789
4,hendry,1,81,63,18,0,0,18807,14827,3980,0.0,0.0,0.000000

In [24]:
# Q2.Which county has the highest share of structurally deficient bridge deck area within its FDOT District?
bridges_new.loc[bridges_new['SD_fraction'].idxmax(),'County']

'palm beach'